
.wrapper{
	min-width: 1000px;
	min-height: 800px;
	padding:20px 10px 20px 20px;
	background-color:silver;
}

.sprites{
	list-style:none;
	display:grid;
	grid-template-columns:100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
.sprites li{
}
.sprites img{
	width: 100px;
	height: 100px;
	display: inline-block;
}
