<!DOCTYPE html>

<html lang='en'>
	<head>
		<title>Semi-Restful Users - New</title>
	</head>

	<body>
		<form action="/users/create" method="post">
			{% csrf_token %}
			<label for="first_name">First Name:</label>
			<input type="text" id="first_name" name="first_name" placeholder="first name">
			<label for="last_name">Last Name:</label>
			<input type="text" id="last_name" name="last_name" placeholder="last name">
			<label for="email">Description:</label>        
			<input type ="text"  id="email" name="email" placeholder="email address"></textarea>
			<button type="submit">Create</button>
		</form>
	</body>
</html>