.wrapper{
	margin-left:20px;
	width:800px;
	margin-left:35px;
}

#email{
	width:300px;
}
h2{
	text-decoration: underline;
}
.userContainer{
	width:600px;
}
.user{
	display:inline-block;
}
.uEmail{
	width:300px;
	margin-right:10px;
}
.createdAt{
	width:250px;
}
.messages{
	width:400px;
}
.success{
	background-color:green;
}
.failure{
	background-color: red;
}