.container{
	padding:5px;
	width:600px;
	margin-left:50px;
	margin-top: 100px;
}

form{
	width:75px;
	display:inline-block;
}
h3{
	text-align:center;
}

.red, .green{
	padding: 25px 0px;
	text-align:center;
	margin-bottom:10px;
	
}
.red{
	background-color: red;
	height:75px;
}
.green{
	background-color: green;
	height:75px;
}
.guessForm{
	width:250px;
	margin-left:25%;
}
.guessForm > *{
	display:inline-block;
	width:120px;
}
