/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
.wrapper{
 width: 950px;
 height: 610px;
 background-color: silver;
 margin: 0px auto;
 padding: 15px 20px 0px 20px;
 float:left;
}
.header{
 height: 150px;
 background-color: green;
 margin-bottom: 15px;
}
.navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display:inline-block;
 margin: 10px 10px 10px 0px;
 vertical-align:top;
}
.main_content{
 height: 400px;
 width: 680px;
 background-color: red;
 display:inline-block;
 margin: 10px 0px 10px 15px;
 padding:0px 35px 10px 5px;
 vertical-align:top;
}
.subcontents{
 height: 200px;
 width: 210px;
 margin: 15px 0px 10px 15px;
 background-color: yellow;
 display: inline-block;
 float:left;
}
.advertisement{
 height: 120px;
 width: 660px;
 margin: 15px;
 background-color: purple;
 float:left;
}